/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/*VARIABLES*/
:root{
    --bright-red: hsl(12, 88%, 59%);
    --light-red: #f98f75;
    --very-light-red: #fff0eb;
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --Very-dark-blue: hsl(233, 12%, 13%);
    --Very-pale-red: hsl(13, 100%, 96%);
    --Vary-light-gray: hsl(0, 0%, 98%);
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
}

/*reset default properties and values*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, html{
    overflow-x: hidden;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-size: 16px;
}
.bg-img{
    border-radius:40% 30% 47% 49% / 0% 0% 17% 16% ;
    background-color: var(--very-light-red);
    position: absolute;
    z-index: -1;
}
.bg-img-right{
    transform: rotate(45deg);
    left: 50%;
    top: -10%;
}
.bg-img-left{
    transform: rotate(220deg); 
}
h1, h2, h3, h4,h5,h6{
    color: var(--dark-blue);
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
p{
    color: var(--dark-grayish-blue);
    line-height: 2;
    margin-top: 15px;
}
.text-h3-p{
    color: var(--dark-blue);
    font-weight: var(--font-weight-700);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: var(--dark-grayish-blue);
}
.item.button{  
    display:block;
    padding: 15px 35px;
}
.item.button:hover{
    background-color: var(--light-red) !important;
}
.white-color{
    color: var(----Vary-light-gray) !important;
}
.red-btn{
    background-color: var(--bright-red) !important;
    color: var(--Vary-light-gray) !important;    
    border-radius: 50rem;
    padding: 20px 40px;
}
button.red-btn{
    border: none;
    font-weight: var(--font-weight-700);
}
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*INTRO*/
/*mobile*/
.intro{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items:  center;
    margin-top: 20px;
}
.intro>div{
    flex: 1 1 450px;
}
.intro-right-top{
    order:1;
}
.intro-right-top>img{
    width: 90%;
}
.intro-left-bottom{
    margin: 10px 35px;
    order:2;
}
.intro-left-bottom>p{
    margin: 10px 0 35px 0;
}
/*tablet*/
@media all and (min-width: 468px){
    .intro-right-top{
        order:1;
    }
    .intro-left-bottom{
        order:2;
    }
}

/*desktop*/
@media all and (min-width: 768px){
    .intro{
        margin-top: 60px;
    }
    .intro-right-top{
        order:2;
    }
    .intro-right-top>img{
        width: 80%;
    }
    .intro-left-bottom{
        padding-right: 35px;
        text-align: left;
        padding: 50px 130px 0 0;
        order:1;
    }
}
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*SERVICE*/
/*mobile*/
.services{
    display:flex;
    flex-wrap: wrap;
    margin: 70px auto;
}
.services>div{
    flex: 1 1 400px;
}
.service-right-bottom>div{
    margin: 50px auto;
}
.service-left-top{
    text-align: center;
    margin: 10px 35px;
}
.service-right-bottom{
    padding-left: 15px;
}
.svr{
    background-color: var(--very-light-red);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    height: 41px;
    margin: 0;
}
.svr>span{
    float: left;
}
.text-h3-p{
    text-align: center;
}
.tt{
    text-align: center;
    padding: 5px 15px;
}
.srv-red-btn{
    padding: 1% 6%;
}
/*tablet*/
@media all and (min-width: 468px){
    .svr{
        height: 45px;
    }
}
@media all and (min-width: 768px){
    .svr{
        height: 45px;
    }
    .service-left-top{
        text-align: left;
        padding: 50px 130px 0 0;
    }
}
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* TESTEMONIAL */
.testemonials{
    text-align: center;
}
.testemonial{
    display: flex;
    flex-wrap:wrap;
}
.testemonial > div{
    flex: 1 1 390px;
}
.comment{
    background-color: var(--Vary-light-gray);
    padding: 0 35px;
    margin: 150px 25px 40px;  
    height: 300px;
    display: none;
}
.comment img, .comment p{
    position: relative;
    top: -70px;
}

.dot{
    height: 12px;
    width: 12px;
    border: 2px solid var(--bright-red);
    border-radius: 50%;
    cursor: pointer;
    display:inline-block;    
    text-align: center;
    transition: background-color 0.6s ease;
    margin: 0 2px 45px;
}
.dotClicked{
    background-color: var(--bright-red);
}
 .selected{
    display: block; 
}
/*desktop*/
@media all and (min-width: 768px){
    .dot{
        display: none;
    }
}



/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*FOOTER*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media all and (min-width:1060px){
    .container{
        margin: auto 100px;
    }
}